:root {
    --error: #b94a48 ;
    --success: #16a085;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error {
    color: var(--error);
}

input.input-validation-error {
    border: 1px solid var(--error);
}

input.valid {
    border: 1px solid var(--success);
}

.validation-summary-errors {
    color: var(--error);