@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";

}


<h1>@ViewData["Title"]  </h1>
<br />
BookStore.md is your family bookstore. It is a platform where good books gather. Books for the whole family, international and national bestsellers, the best translations, published by major publishing houses in Romania and the Republic of Moldova. Carefully selected books for any member of your family.

This project is a continuation, a development of the services we offer you on the www.edituraprut.md platform , taking into account all your requests and suggestions.

From the beginning, we set out to be fair with our customers, a consideration that was the basis of the development of our project. With the support of partner publishing houses, we have created the conditions in which the book will be closer to you, at the right price, - the cover price indicated by the publisher.

From today it's easier - you get the book!

If you are from the city of Chisinau, the book comes to you FREE (if the value of the order is greater than 200 lei).

If you are from other localities of the Republic of Moldova, you have the right rate.

Flexibility represents us. Any request, suggestion, exception or derogation from the formalities included in the Terms and Conditions will be analyzed and we will surely find the optimal solution for your circumstances. 