@{
   // model IEnumerable<Test>;
}

@{
    ViewData["Title"] = "Books List";
}

<h1>Books List</h1>
<h6>Good job Vadim</h6>

<div class="row">
    @foreach(var book in Model)
    {/*
        <div class="col-sm-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@book.Name</h5>
                    <p class="card-text"> Price: @book.Age </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>      
     */   
    }
</div>
