@model IEnumerable<Test>

@{
    ViewData["Title"] = "Books List";

}


<h1>Books List</h1>
<h6>Good job Vadim</h6>

<table class="table table-bordered table-striped" style="width:100%">

    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                SecondNAme
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name
                </td>
                <td width="30%">
                    @obj.Age
                </td>
                <td width="30%">
                    @obj.Fname
                </td>
            </tr>
        }
    </tbody>

</table>